<h1><%= @portfolio.name %></h1>
<%= link_to 'Back to All Portfolios', portfolios_path %><br>
<%= link_to 'Rename This Portfolio', edit_portfolio_path(@portfolio) %>
<%= button_to 'Delete This Portfolio', {action: 'delete', id: @portfolio.id}, method: :delete, data: { confirm: "Are you sure?" } %>

<div>
    <h4>Cash Available: <%= number_to_currency(@portfolio.cash) %></h4>
    <h4>Total Value of Stocks: <%= number_to_currency(@portstocks.map{|ps|ps.shares*ps.stock.price}.sum) %></h4>
    <h4>Total Value of Portfolio: <%= number_to_currency(@portfolio.cash + (@portstocks.map{|ps|ps.shares*ps.stock.price}.sum))%></h4>
</div>

<h2><%= link_to 'Buy Stocks', stocks_path %></h2>


<table style="width:100%">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Symbol</th>
            <th>Shares Owned</th>
            <th>Avg Price Paid per Stock</th>
            <th>Current Price</th>
            <th>Total Stock Value</th>

        </tr>
    </thead>

    <tbody>
        <% @portstocks_w_shares.each do |portstock|%>
            <tr>
                <td><%= link_to "Sell", {controller: "stocks", action: "sell", id: portstock.stock.id} %> </td>
                <td><%= portstock.stock.name %></td>
                <td><%= portstock.stock.symbol %></td>
                <td><%= 
                    @x = @portstocks.select{|ps| ps.stock_id == portstock.stock_id}
                    @ps_shares = @x.map { |pstock| pstock.shares}
                    @ps_shares.sum %></td>
                <td><%= 
                    @y = @portstocks.select{|ps| ps.stock_id == portstock.stock_id}
                    ps_costs = @y.map { |pstock| pstock.shares * pstock.purchase_price}
                    number_to_currency(ps_costs.sum/@ps_shares.sum) %></td>
                <td><%= number_to_currency(portstock.stock.price) %></td>
                <td><%=
                    @z = @portstocks.select{|ps| ps.stock_id == portstock.stock_id}
                    @ps_shares = @x.map { |pstock| pstock.shares}
                    number_to_currency((@ps_shares.sum)*(portstock.stock.price)) %></td>
            </tr>
        <% end %>
    </tbody>
</table>
